<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tags.  -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- Hole 10 Information. -->
    <div class="container">
        <!-- Hole Number. -->
        <div class="row">
            <div class="col">
                <h4><b>Hole 10:</b></h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>
                    <b>Par: 4</b><br />Green: 394<br />White: 372<br />Gold:
                    372<br />Red: 313
                </p>
                <p>
                    <b>Description:</b> Hole 10 is a straight away par 4 that
                    has fairway that forces you out to the right and comes back
                    to the left. There are trees all up the right side and there
                    is some longer native grass on the left. This green is decent
                    size and is fairly flat.
                </p>
            </div>
            <div class="col-lg-8">
                <!-- Images for Hole. -->
                <div id="carouselExampleIndicators10" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators10" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators10" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators10" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/courseoverview/hole10/10tee.jpeg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item">
                            <img src="/images/courseoverview/hole10/10fairway.jpeg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item">
                            <img src="/images/courseoverview/hole10/10green.jpeg" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators10"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators10"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br />
</body>

</html>