<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tags.  -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="container">
        <!-- Hole Number. -->
        <div class="row">
            <div class="col">
                <h4><b>Hole 15:</b></h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p><b>Par: 5</b><br />Green: 518<br />White: 478<br/>Gold: 423<br/>Red: 300</p>
                <p><b>Description:</b> Hole 15 is dog leg right Par 5 with houses on the left and 
                    water up the whole right side. There is a fairway bunker just off the left side 
                    of the fairway. This is the largest green we have on the course, and it has a 
                    bunker just short right of the green that catches balls from going into the 
                    water. </p>

            </div>
            <div class="col-lg-8">
                <!-- Images for Hole. -->
                <div id="carouselExampleIndicators15" class="carousel slide">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators15" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators15" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators15" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators15" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/courseoverview/hole15/15tee.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/courseoverview/hole15/15fairway.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/courseoverview/hole15/15green.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/courseoverview/hole15/15overview.jpeg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators15" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators15" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>

</body>

</html>