<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tags.  -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="container">
        <!-- Hole Number. -->
        <div class="row">
            <div class="col">
                <h4><b>Hole 12:</b></h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p><b>Par: 3</b><br />Green: 158<br />White: 145<br/>Gold: 145<br />Red: 138</p>
                <p><b>Description:</b> Hole 12 is a Par 3 that plays from 130-150 yards. This hole has a bunker short left and long right. This green has some good slope to it and can be tricky to read if you don’t pay attention.</p>
            </div>
            <div class="col-lg-8">
                <!-- Images for Hole. -->
                <div id="carouselExampleIndicators12" class="carousel slide">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators12" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators12" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/courseoverview/hole12/12tee.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/courseoverview/hole12/12green.jpeg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators12" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators12" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br>

</body>

</html>