<!doctype html>
<html lang="en">

<head>
    <!-- Meta Tags.  -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- Hole 10 Information. -->
    <div class="container">
        <!-- Hole Number. -->
        <div class="row">
            <div class="col">
                <h4><b>Hole 14:</b></h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>
                    <b>Par: 4</b><br />Green: 378<br />White: 338<br />Gold:
                    338<br />Red: 322
                </p>
                <p>
                    <b>Description:</b> Hole 14 is a short 4 par that is straight with the trees forcing you to hit
                    out to the right. There is an out-of-bounds left over the road and a hazard on the right. This green 
                    is relatively small, but birdies can be made after a good drive. 
                </p>
            </div>
            <div class="col-lg-8">
                <!-- Images for Hole. -->
                <div id="carouselExampleIndicators14" class="carousel slide">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators14" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators14" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators14" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/courseoverview/hole14/14tee.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/courseoverview/hole14/14fairway.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/courseoverview/hole14/14green.jpeg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators14" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators14" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br />
</body>

</html>