---
// Import header and footer to each page making it easier for the user to navigate between each page.
import Mainlayout from "../../layouts/secondary-header.astro";

// Sets the company name.
let companyname = 'Whispering Woods';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- ! META TAGS. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ! TAB TITLE. -->
        <title>{companyname} - Etiquette</title>

        <!-- ! GOOGLE TAG MANAGER FOR SPROUT MARKETING. DON'T EDIT! -->
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-7D8R29D991"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-7D8R29D991');
        </script>

        <!-- ! TAB ICONS. -->
        <link rel="icon" href="/images/logos/CroppedLogo2Black.png" media="(prefers-color-scheme: light)">
        <link rel="icon" href="/images/logos/CroppedLogo2.png" media="(prefers-color-scheme: dark)">

    </head>

    <style>
        /* Import Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto+Condensed:wght@400;600&display=swap');

        /* Apply styles to all headings (h1, h2, h3, h4, h5, h6) */
        h1, h2, h3 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 56pt; /* 75pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h4, h5 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 28pt; /* 36pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h6 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 21pt; /* 36pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        /* Apply styles to all paragraphs */
        p, ul, span, a {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400; /* Regular weight */
            font-size: 14pt; /* 14pt */
        }
        /* Determines if the logo in the tab of each page is black or white. */
        body {
            background-color: white; /* Light mode background */
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: black; /* Dark mode background */
            }
        }
    </style>
    
    <body>

        <!-- ! IMPORTS THE MAIN LAYOUT FROM "../LAYOUTS/SECONDARY-HEADER.ASTRO" -->
        <Mainlayout>

            <div class="container">

                <br>

                <h4><b>Golf Etiquette:</b></h4>
                <hr>
                <p>It is important to always wear appropriate golf attire when on the golf course. This helps 
                    maintain a professional and respectful atmosphere for all players. The golf staff will be 
                    present to assist you and ensure that your attire meets the required standards. If you 
                    are unsure about what qualifies as appropriate golf attire, feel free to contact the proshop 
                    with any questions you may have.</p>

                <p>Listed below are some of the items not allowed and other policies that are enforced:</p>

                <ul>
                    <li>Tank tops, tee shirts, or sleeveless shirts.</li>
                    <li>Golfers must wear soft spike golf shoes or tennis shoes.</li>
                    <li>No Five-some are allowed.</li>
                    <li>Twosomes and threesomes that book tee times will be paired up with other twosomes or singles.</li>
                    <li>All riders will be charged a cart fee.</li>
                    <li>No more than 2 people are allowed in the carts at all times.</li>
                </ul>

                <br>
            
            </div>

        </Mainlayout>
        
    </body>
</html>