---
// IMPORTS BOTH THE SECONDARY HEADER AND FOOTER TO THE PAGE.
import Mainlayout from "../../layouts/secondary-header.astro";

// VARIABLE FOR THE COMPAMY NAME
let companyname = 'Whispering Woods';

import ViewTransitions from "astro/components/ViewTransitions.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- ! META TAGS. -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- ! TAB TITLE. -->
        <title>{companyname} - Memberships</title>

        <ViewTransitions />

        <!-- ! GOOGLE TAG MANAGER FOR SPROUT MARKETING. DON'T EDIT! -->
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-7D8R29D991"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-7D8R29D991');
        </script>

        <!-- ! TAB ICONS. -->
        <link rel="icon" href="/images/logos/CroppedLogo2Black.png" media="(prefers-color-scheme: light)">
        <link rel="icon" href="/images/logos/CroppedLogo2.png" media="(prefers-color-scheme: dark)">

    </head>

    <style>
        /* IMPORTS GOOGLE FONTS */
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto+Condensed:wght@400;600&display=swap');

        /* Apply styles to all headings (h1, h2, h3, h4, h5, h6) */
        h1, h2, h3 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 56pt; /* 75pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h4, h5 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 28pt; /* 36pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h6 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 18pt; /* 36pt */
            color: green;
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        p, ul, span, a {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400; /* Regular weight */
            font-size: 14pt; /* 14pt */
        }
        
        button {
            margin-left: 2px;
        }

        /* Determines if the logo in the tab of each page is black or white. */
        body {
            background-color: white; /* Light mode background */
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: black; /* Dark mode background */
            }
        }

        img {
            float: right;
        }

        .button {
            padding-top: 10px;
        }

        /* Add black outline to the accordion button */
        .accordion-button {
        border: 1px solid black;
        border-radius: 4px;
        }

        /* Style for the active (expanded) accordion button */
        .accordion-button:not(.collapsed) {
        background-color: #f8f9fa;  /* Light background color */
        border-color: black;         /* Optional: change the border color when active */
        }

        /* Style for the active (expanded) accordion body */
        .accordion-button:not(.collapsed) + .accordion-collapse .accordion-body {
        background-color: #f8f9fa;  /* Light background color for the body */
        }

        
    </style>

    <body>

        <!-- ! IMPORTS THE MAIN LAYOUT FROM "../LAYOUTS/SECONDARY-LAYOUT.ASTRO". -->
        <Mainlayout>

            <div class="container">

                <br>
                
                <!-- ! START OF THE BECOME A MEMBER SECTION. GIVE THE USER A BUTTON TO CALL THE PROSHOP AND INFORMATION ABOUT JOINING WHISPERING WOODS COMMUNITY. -->
                <div class="become-a-member">
                    <div class="d-flex flex-row justify-content-between align-items-center w-100">
                        <div class="col-sm-8">
                            <h4><b>Membership:</b></h4>
                        </div>
                        <!-- ! BUTTON FOR USERS TO CALL THE CLUBHOUSE. -->
                        <div class="col-sm-4 d-flex justify-content-sm-end button">
                            <a class="nav-link" href="tel:7123664653">
                                <button type="button" class="button btn btn-outline-dark">
                                    <span class="button-icon"><i class="bi bi-telephone"></i></span>
                                    <span class="button-space">|</span>
                                    <span class="button-text">Call to Join</span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <hr>

                <h6><b>Join Whispering Woods Golf Club:</b></h6>
            
                <p>At Whispering Woods, we believe golf is more than just a sport—it’s a way of 
                    life. As a member, you’re not just gaining access to an exceptional course; you’re 
                    joining a family of like-minded individuals who share a genuine love for the game and its traditions. 
                    Whether you’re on the course, in the clubhouse, or participating in one of 
                    our many social events, you’ll find a warm and welcoming environment where 
                    friendships are formed, and the joy of the game is 
                    celebrated together.</p>

                <br>

                <div class="accordion accordion-flush" id="membership">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          <h6><b>Membership Pricing</b></h6>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#membership">
                        <div class="accordion-body bg-light">
                          <p><b>Single Membership:</b> $1,800.00. <br>
                          <b>Junior Executive:</b> $1,500.00. <br>
                          <b>Senior Membership:</b> $1,500.00. <br>
                          <b>Walking Membership:</b> $1,000.00. <br>
                          <b>Junior Membership:</b> $500.00</p>

                          <br>
        
                          <h6><b>Includes:</b></h6>
                          <ul>
                            <li>Unlimited golf with cart<i>(member cart fees apply to the walking membership)</i>.</li>
                            <li>$300 facility fee.</li>
                            <li>GHIN #.</li>
                            <li>Member only tee times throughout the week.</li>
                            <li>14-day advanced booking.</li>
                            <li>Member pricing in the pro shop.</li>
                          </ul>
                        </div>
                      </div>
                    </div>    
                  </div>
                
                  <br>
                
                  <!-- Second Accordion: Player Pass -->
                  <div class="accordion accordion-flush" id="playerpass">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          <h6><b>Player Pass</b></h6>
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#playerpass">
                        <div class="accordion-body bg-light">
                            <p><b>Player Pass:</b> $299</p>

                          <h6><b>Includes:</b></h6>
                          <ul>
                            <li>10 free 18-hole rounds with a cart.</li>
                            <li>Replay rate after the 10th round.</li>
                            <li>Discounted rates for your group.</li>
                            <li>14-day advanced booking.</li>
                            <li>Member pricing in the pro shop.</li>
                          </ul>

                            <a class="nav-link" href="https://foreupsoftware.com/index.php/booking/22289/10326#/store">
                                <button type="button" class="button btn btn-outline-dark">
                                    <span class="button-icon"><i class="bi bi-bag"></i></span>
                                    <span class="button-space">|</span>
                                    <span class="button-text">Buy your Pass!</span>
                                </button>
                            </a>

                        </div>
                      </div>
                    </div>    
                  </div>
                
                <br>
                
            </div>

        </Mainlayout>
        
    </body>
</html>