<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Black Friday Deals</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0-alpha1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJx3jN0r4T9aQ1P9qz7Fz2cZ1RFM1+PvXxvwSxovIw7oP7WyM5yo5Moj9K0e" crossorigin="anonymous">
</head>

<style>
    a {
        color: white;
    }
    a:link {
        text-decoration: none;   
        text-decoration: underline;
    }
    .toast {
      width: 400px;
    }
</style>

<body>
  <!-- Toast Notification -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container">
    <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" id="blackFridayToast">
      <div class="d-flex">
        <div class="toast-body">
          🚨 **Holiday Deal Alert!** 🚨 <br> -  NEW Player Pass Available <a href="/golf-course/memberships/#playerpass">HERE</a> through 12/1! 
          <br> - Save $105 on Junior Memberships 11/29 -> 12/1! <br> -  25% off Whsipering Woods Gear 11/29 -> 12/1! <br> - BlueTees 
          Products DISCOUNTED in Proshop!
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS & Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybB0T+L5hq7ng67t7LsMO0gFdeZepXJ3vo9WAKSMzI4zJ41Kp" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0-alpha1/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0p3Cq5MOKz2cWcO1K1jz0Jgsd/sBjjA0vX3FsHknXP6b6gg5" crossorigin="anonymous"></script>

  <!-- Custom Script to Auto-show Toast with Longer Duration -->
  <script is:inline>
    document.addEventListener('DOMContentLoaded', function () {
      var toastEl = document.getElementById('blackFridayToast');
      var toast = new bootstrap.Toast(toastEl, {
        delay: 60000 // Set the toast to stay visible for 30 seconds
      });
      toast.show();
    });
  </script>
</body>
</html>
