<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags.  -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <style>
        /* Import Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto+Condensed:wght@400;600&display=swap');

        /* Apply styles to all headings (h1, h2, h3, h4, h5, h6) */
        h1, h2, h3 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 56pt; /* 75pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h4, h5 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 28pt; /* 36pt */
            color: green;
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h6 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 18pt; /* 36pt */
            color: green;
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        /* Apply styles to all paragraphs */
        p, ul, span, a {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400; /* Regular weight */
            font-size: 14pt; /* 14pt */
        }
    </style>

    <body>
        <div class="container marketing">
        
        
            <!-- START THE FEATURETTES -->
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
                <div class="col-md-7 d-flex align-items-center justify-content-center">
                    <div>
                        <h5 class="featurette-heading fw-normal lh-1">Host Your Ultimate Par-Tee Here!</h5>
                        <p class="lead">Create unforgettable memories with your friends. Our venue offers everything you need to make your event extraordinary. Ready to celebrate?</p>
                    </div>
                </div>
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                    <img src="/images/index/1.png" alt="Description of the image" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            
            <hr class="featurette-divider">
            
            <div class="row featurette">
                <div class="col-md-7 d-flex align-items-center justify-content-center order-md-2">
                    <div>
                        <h5 class="featurette-heading fw-normal lh-1">Explore Our Competitive Rates</h5>
                        <p class="lead">Unlock the best deals! Browse through our pricing options and find your perfect fit.</p>
                    </div>
                </div>
                <div class="col-md-5 d-flex align-items-center justify-content-center order-md-1">
                    <img src="/images/index/2.png" alt="Description of the image" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            
            <hr class="featurette-divider">
            
            <div class="row featurette">
                <div class="col-md-7 d-flex align-items-center justify-content-center">
                    <div>
                        <h5 class="featurette-heading fw-normal lh-1">Perfect Your Skills with Our Simulator</h5>
                        <p class="lead">Take your game to the next level! Our state-of-the-art simulator offers realistic gameplay and detailed analytics to help you sharpen every aspect of your game. Ready to challenge yourself?</p>
                    </div>
                </div>
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                    <img src="/images/index/3.png" alt="Simulator Experience" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
                </div>
            </div>
            
            
              
        
            <hr class="featurette-divider">
        
            <!-- /END THE FEATURETTES -->
        
          </div>

    </body>
</html>