<style>
    /* Apply styles to all paragraphs */
    p, ul, span, a {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400; /* Regular weight */
        font-size: 14pt; /* 14pt */
        text-decoration: none;
        color: black;
    }
</style>
<body>
    <p><i class="fa fa-phone"></i> <a href="tel:+17123664653">+1 (712) 366-4653</a><br>
    <i class="fa fa-envelope"></i> <a href="mailto:staff@thewoodsgc.com">staff@thewoodsgc.com</a></p>
</body>