<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    /* Apply styles to all headings (h1, h2, h3, h4, h5, h6) */
    h1, h2, h3 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 56pt; /* 75pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h4, h5 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 28pt; /* 36pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h6 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 18pt; /* 36pt */
            color: green;
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }
        /* Apply styles to all paragraphs */
        p, ul, span, a {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400; /* Regular weight */
            font-size: 14pt; /* 14pt */
        }
</style>
<body>
    <br>
    <div class="container">
        <div class="row text-center">
            <h4>Testimonies from Members:</h4>
            <hr>
        </div>
        <div class="row">
            <div class="col-xl-4 text-center">
                <h6>Marty Shelton</h6>
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                <p>There have been numerous improvements made and the staff is really making needed progress to 
                    make the course and clubhouse more enjoyable. It’s always been a beautiful place and the 
                    group there is making it far better than it was.</p>
            </div>
            <div class="col-xl-4 text-center">
                <h6>Marty Shelton</h6>
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                <p>There have been numerous improvements made and the staff is really making needed progress to 
                    make the course and clubhouse more enjoyable. It’s always been a beautiful place and the 
                    group there is making it far better than it was.</p>
            </div>
            <div class="col-xl-4 text-center">
                <h6>Marty Shelton</h6>
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                <p>There have been numerous improvements made and the staff is really making needed progress to 
                    make the course and clubhouse more enjoyable. It’s always been a beautiful place and the 
                    group there is making it far better than it was.</p>
            </div>
        </div>
    </div>

</body>
</html>
