---
// Import header and footer to each page making it easier for the user to navigate between each page.
import Mainlayout from "../../../layouts/secondary-header.astro";

// Sets the company name.
let companyname = 'Whispering Woods';
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Meta Tags. -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Title in the tab bar. -->
        <title>{companyname} - 2024 Junior Camp</title>

        <!-- Google tag manager for Sprout Marketing. -->
        <!-- Google tag (gtag.js) -->
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-7D8R29D991"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-7D8R29D991');
        </script>

       <!-- Icon image on the tab of each page. -->
       <link rel="icon" href="/images/logos/CroppedLogo2Black.png" media="(prefers-color-scheme: light)">
       <link rel="icon" href="/images/logos/CroppedLogo2.png" media="(prefers-color-scheme: dark)">

    </head>

    <style>
        /* Determines if the logo in the tab of each page is black or white. */
        body {
            background-color: white; /* Light mode background */
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: black; /* Dark mode background */
            }
        }
    </style>
    
    <body>
        
        <!-- Import header and footer to each page making it easier for the user to navigate between each page. -->
        <!-- This is the secondary header which is used on all pages beside the index.astro page. -->
        <Mainlayout>

            <div class="container">

                <br>

                <h2><b>2024 Summer Junior Golf Camp:</b></h2>

                <hr>

                <img src="/documents/2024-junior-camp.jpg" width="100%">
                
            
            </div>
            
            <br>

        </Mainlayout>
    </body>
</html>