---
// Import header and footer to each page making it easier for the user to navigate between each page.
import { ViewTransitions } from "astro:transitions";
import Mainlayout from "../../layouts/secondary-header.astro";

// Sets the company name.
let companyname = 'Whispering Woods';
---

<!doctype html>
<html lang="en">
    <head>
        <!-- ! META TAGS. -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- ! TAB TITLE. -->
        <title>{companyname} - Professional Staff</title>

        <ViewTransitions />

        <!-- ! GOOGLE TAG MANAGER FOR SPROUT MARKETING. DON'T TOUCH! -->
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-7D8R29D991"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-7D8R29D991');
        </script>

        <!-- ! TAB ICONS. -->
        <link rel="icon" href="/images/logos/CroppedLogo2Black.png" media="(prefers-color-scheme: light)">
        <link rel="icon" href="/images/logos/CroppedLogo2.png" media="(prefers-color-scheme: dark)">

    </head>

    <style>
        /* Import Google Fonts */
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto+Condensed:wght@400;600&display=swap');

        /* Apply styles to all headings (h1, h2, h3, h4, h5, h6) */
        h1, h2, h3 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 56pt; /* 75pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h4, h5 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 28pt; /* 36pt */
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        h6 {
            font-family: 'Raleway', sans-serif;
            font-weight: 800; /* Heavy */
            font-size: 18pt; /* 36pt */
            color: green;
            text-transform: uppercase; /* Uppercase text */
            margin: 0; /* Optional: Remove default margin for headings */
        }

        /* Apply styles to all paragraphs */
        p, ul, span, a {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400; /* Regular weight */
            font-size: 14pt; /* 14pt */
        }

        /* Determines if the logo in the tab of each page is black or white. */
        body {
            background-color: white; /* Light mode background */
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: black; /* Dark mode background */
            }
        }

        /* Styling for scrolling animation. */
        .hidden {
            opacity: 0;
            filter: blur(5px);
            transform: translateX(-100%);
            transition: all 1s;
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0)
        }
    </style>

    <script>
        // Script added: May 6th 2024:
        // Found: https://www.youtube.com/watch?v=T33NN_pPeNI

        // Scrolling animation.
        const observer = new IntersectionObserver((entries) => {

            // Can observe multiple entries all at the same time.
            // Because of this, you do for each to grab each entry.
            entries.forEach((entry) => {
                console.log(entry)

                // Checks to see if the entry is within the viewport.
                if (entry.isIntersecting) {

                    // Will make the class visible.
                    entry.target.classList.add('show');
                } else {

                    // Will make the class not-visible.
                    entry.target.classList.remove('show');
                }
            });
        });

        // Grabs all of the elements within the document that have the class '.hidden'.
        const hiddenElements = document.querySelectorAll('.hidden');
        hiddenElements.forEach((el) => observer.observe(el));
    </script>

    <body>

        <!-- ! IMPORTS THE MAIN LAYOUT FROM "../LAYOUTS/SECONDARY-LAYOUT.ASTRO"-->
        <Mainlayout>

            <div class="container">
                <br>

                <h4><b>Professional Staff:</b></h2>

                <hr>

                <!-- ! A ROW OF BOOTSTRAP CARDS THAT USE JAVASCRIPT TO HAVE A SCROLLING ANIMATION. -->
                <!-- ! MORE INFORMATION CAN BE FOUND HERE FOR THE BOOTSTRAP CARDS: https://getbootstrap.com/docs/5.3/components/card/#about -->
                <div class="row">
                    <div class="card-group">

                        <!-- ! ANTHONY DRISCOLL. -->
                        <div class="card hidden">
                            <img src="/images/management-team/anthonydriscoll.jpg" class="card-img-top" alt="Anthony Driscoll">
                            <div class="card-body">
                                <h5 class="card-title">Anthony Driscoll</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Director of Golf</h6>
                                <p class="card-text">Anthony Driscoll is a golf professional based in Omaha, Nebraska. He earned his PGA membership in 2011 and has over a decade 
                                    of experience within the Nebraska PGA section. Anthony is a PGA Reach board member and graduated from the University of Nebraska's PGM (Professional 
                                    Golf Management) Program.</p>
                                <p class="card-text">With 25 years of experience in teaching, operations, and maintenance, Anthony is a versatile asset in the golfing community. He 
                                    initiated the first tee program in Omaha, demonstrating his commitment to nurturing young talent and promoting the sport.</p>
                                <p class="card-text">“I’m excited for the opportunity to build our team and execute a winning culture. The opportunity
                                    to grow the game of golf is unlimited at Whispering Woods and I am proud to be a part of it.”</p>    
                            </div>
                        </div>

                        <!-- ! DAVIS GARNER. -->
                        <div class="card hidden">
                            <img src="/images/management-team/davisgarner.jpg" class="card-img-top" alt="Davis Garner">
                            <div class="card-body">
                                <h5 class="card-title">Davis Garner</h5>
                                <h6 class="card-subtitle mb-2 text-muted">General Manager</h6>
                                <p class="card-text">Davis, from Utah has a rich history in golf. His journey began in college, where he played golf at various levels, 
                                    demonstrating both skill and passion for the game. These experiences laid the groundwork for a lifelong career in the golf industry.</p>
                                <p>His dedication to the sport and the industry has not only enriched his professional life but also enabled him to gather an array of invaluable 
                                    insights and expertise. Today, he brings all of this to our team, leveraging his deep understanding of the sport to enhance our operations 
                                    and services.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <br>
                    
                <!-- ! TRANSPORTS THE USER FROM TAYLOR'S NAME ON THE FOOTER TO HERE. -->
                <div id="taylorjohnson">

                    <!-- ! A ROW OF BOOTSTRAP CARDS THAT USE JAVASCRIPT TO HAVE A SCROLLING ANIMATION. -->
                    <!-- ! MORE INFORMATION CAN BE FOUND HERE FOR THE BOOTSTRAP CARDS: https://getbootstrap.com/docs/5.3/components/card/#about -->
                    <div class="row">
                        <div class="card-group">

                            <!-- ! TAYLOR JOHNSON. -->
                            <div class="card hidden">
                                <img src="/images/management-team/taylorjohnson.jpg" class="card-img-top" alt="Taylor Johnson">
                                <div class="card-body">
                                    <h5 class="card-title">Taylor Johnson</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Assistant Golf Professional</h6>
                                    <p class="card-text">Taylor Johnson is a proud native of Council Bluffs, Iowa. With a strong 
                                        connection to the local community.
                                        Taylor is a familiar face here at {companyname}.</p>
                                    <p>Notably, Taylor recently achieved a significant milestone by graduating from 
                                        Concordia University in Seward, Nebraska. Taylor's dedication and hard work paid off as he earned a degree in Information Technology, 
                                        equipping him with the necessary knowledge and skills to thrive in the ever-evolving tech industry.</p>
                                    <p>Looking ahead, Taylor has exciting plans to further develop his professional journey. In the near future, he will be embarking 
                                        on an exciting new chapter by joining the PGA Apprenticeship program. This program will provide Taylor with invaluable opportunities 
                                        to enhance his abilities and pursue his passion for golf.</p>
                                </div>
                            </div>

                            <!-- ! JORDAN GREENWOOD. -->
                            <div class="card hidden">
                                <img src="/images/management-team/jordangreenwood.jpg" class="card-img-top" alt="Jordan Greenwood">
                                <div class="card-body">
                                    <h5 class="card-title">Jordan Greenwood</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Assistant Golf Professional</h6>
                                    <p class="card-text">Jordan is a lifelong native of Council Bluffs, graduating from Lewis Central High School in 2022.
                                        He played college golf at Buena Vista University from 2022-2023 before returning to the area to
                                        pursue a full-time career in the golf industry in 2024.</p>
                                        <p>Jordan has begun his professional journey by joining the PGA Apprenticeship program. He
                                        passed his playing aptitude test in the summer of 2024 and is ready to tackle classroom
                                        requirements. He enjoys working with people to improve their games through lessons and
                                        coaching.</p>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <br>

            </div>

        </Mainlayout>

    </body>
</html>