---
// Imports the footer layout to the bottom of each page.
import MainFooter from "./footer.astro";

//Imports the introduction video the the home-layout.
import Introductionvideo from "../components/introductionvideo.astro";

---

<!doctype html>
<html lang="en">

    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Imports Bootstrap 5. -->
        <!-- More information on importing Bootstrap 5 to page can be found at: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
        <!-- Imports Bootstrap 5 Icons -->
        <!-- More information on importing Bootstrap 5 Icons to the webpage can be found at: https://icons.getbootstrap.com/-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />

        <!-- Imports Roboto Font from Google Fonts into the page. -->
        <!-- More information on Google Fonts can be found at: https://fonts.google.com/. -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    </head>

    <style>
        * {
            font-family: "Roboto", sans-serif;
        }

        /* Add custom styles for the arrow animation in the header. */
        .dropdown-toggle::after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            transition: transform 0.4s ease-out;
        }

        .show.dropdown-toggle::after {
            transform: rotate(180deg);
        }

        @media (max-width: 991.98px) {
            .dropdown-item {
                color: black;
            }

            .dropdown-menu {
                color: black;
            }

            .nav-link {
                color: black;
            }

            .nav-link:hover {
                color: black;
            }

            .navbar-nav .nav-link.show {
                color: #000;
            }
            .socials {
                display: true;
            }
            .contact {
                color: black;
            }
            .socialicons {
                vertical-align: bottom;
            }
        }

        @media (min-width: 991.98px) {
            .dropdown-item {
                color: white;
            }

            .dropdown-item:hover {
                color: white;
            }

            .dropdown-menu {
                color: white;
                background: rgba(0, 0, 0, 0.5);
            }

            .nav-link {
                color: white;
            }

            .nav-link:hover {
                color: white;
            }

            .navbar-nav .nav-link.show {
                color: white;
            }
            .contact {
                color: white;
            }
        }

        /* Changes the width of the offcanvas in Mobile View. */
        .offcanvas {
            --bs-offcanvas-width: 375px;
        }

        .contact {
            text-decoration: none;
        }

        .contact-icons {
            font-size: 20px; 
            padding-right: 5px; 
        }

        .contact-bar {
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>

    <body>
        
        <!-- Introduction video from "/components/introductionvideo.astro". -->
        <Introductionvideo>

            <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" aria-label="Offcanvas navbar large">
                <div class="container-fluid">

                    <!-- Clickable company logo that can be click on to go back to the index page. -->
                    <a class="navbar-brand logo" href="/">
                        <img src="/images/logos/CroppedLogo2.png" width="42.5" height="52.5"
                            class="d-inline-block align-middle" alt="Logo" />
                    </a>

                    <!-- Navigation for mobile view. Using the hamburger icon and offcanvas with bootstrap. -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- More information can be found here for offcanvas: -->
                    <!-- https://getbootstrap.com/docs/5.3/components/offcanvas/ -->
                    <div class="offcanvas offcanvas-end" id="offcanvasNavbar2"
                        aria-labelledby="offcanvasNavbar2Label">
                        <div class="offcanvas-header">
                            <img src="/images/logos/WordLogoBlack.png" width="252.9" height="32.2" alt="Logo" />
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        <div class="offcanvas-body">
                            <ul class="navbar-nav flex-grow-1 pe-3">

                                <!-- First section in the header/naviation bar. -->
                                <!-- Links users to the Foreup tee-sheet so users can setup tee-time online. -->
                                <li class="nav-item">
                                    <li><a class="nav-link" href="https://foreupsoftware.com/index.php/booking/22289/10326#teetimes">Tee Times</a></li>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">Membership</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item bg-transparent" href="/membership/become-a-member">Become a Member</a></li>
                                    </ul>
                                </li>

                                <!-- Links user to information about the golf course. -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">Golf Course</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item bg-transparent" href="/golf-course/course-rates">Course Rates</a></li>
                                        <li><a class="dropdown-item bg-transparent" href="/golf-course/etiquette">Etiquette</a></li>
                                        <!-- <li><a class="dropdown-item bg-transparent" href="/golf-course/management-team">Management Team</a></li> -->
                                    </ul>
                                </li>

                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">Events</a>
                                    <ul class="dropdown-menu">
                            
                                    </ul>
                                </li> -->

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">Information</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item bg-transparent" href="/information/employment-opportunities">Employment Opportunities</a></li>
                                        <li><a class="dropdown-item bg-transparent" href="/information/direction-hours">Directions & Hours</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <hr />

                            <!-- Contact icons on the right hand side of the header. -->
                            <nav class="navbar bg-transparent text-light">

                                <!-- Phone icon with current phone number. -->
                                <!-- User is able to click on icon/phone number to call the course. -->
                                <a href="tel:7123664653" class="contact">
                                    <i class="bi bi-telephone contact-icons"></i>
                                    (712) 366-4653
                                </a>

                                <!-- Bar that will seperate both contact icons.  -->
                                <div class=contact-bar>|</div>
                                
                                <!-- Mail icon with current email address. -->
                                <!-- User is able to click on the icon/email address to contact the course. -->
                                <a href="mailto:proshop@thewoodsgc.com" class="contact">
                                    <i class="bi bi-envelope contact-icons"></i>
                                    proshop@thewoodsgc.com                                
                                </a>

                            </nav>

                        </div>
                    </div>
                </div>
            </nav>
            
        </Introductionvideo>

        <!-- More information on the "slot" tag can be found here on the astro page. -->
        <!-- https://docs.astro.build/en/basics/astro-components/#slots -->
        <slot />

        <!-- Imports the footer component to the bottom of each page. -->
        <MainFooter />

        <!-- Imports JQuery into project. -->
        <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    </body>

</html>