---
// Import header and footer to each page making it easier for the user to navigate between each page.
import Mainlayout from "../../layouts/secondary-header.astro";

// Sets the company name.
let companyname = 'Whispering Woods';
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Meta Tags. -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Title in the tab bar. -->
        <title>{companyname} - War at The Woods</title>

        <!-- Google tag manager for Sprout Marketing. -->
        <!-- Google tag (gtag.js) -->
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-7D8R29D991"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-7D8R29D991');
        </script>

        <!-- Icon image on the tab of each page. -->
        <link rel="icon" href="/images/logos/CroppedLogo2Black.png" media="(prefers-color-scheme: light)">
        <link rel="icon" href="/images/logos/CroppedLogo2.png" media="(prefers-color-scheme: dark)">

    </head>

    <style>
        /* Determines if the logo in the tab of each page is black or white. */
        body {
            background-color: white; /* Light mode background */
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: black; /* Dark mode background */
            }
        }
    </style>
    
    <body>
        
        <!-- Import header and footer to each page making it easier for the user to navigate between each page. -->
        <!-- This is the secondary header which is used on all pages beside the index.astro page. -->
        <Mainlayout>
            <div class="container">

                <br>
                
                <div class="row">

                    
                    <h2><b>War at The Woods:</b></h2>
                    <hr>


                    <div class="col-lg-4">

                        <h4><b>Information:</b></h4>
                        <p>October 27th 2024.<br>
                        10:00AM shotgun start.</p>

                        <p>Cost: $150 per team.<br> 
                        2 man scramble / superintendents revenge.<br>
                        Lunch provided by Twisted Hitch Food Truck.<br>
                        Payout and pin prizes.</p>

                        <p>Register you team here:</p>

                        <!-- Clickable link that allows users to go to a google sheet to sign up for something. -->
                        <a href="https://forms.gle/TmYVtCgMKWje3yfq9">
                            <button type="button" class="button btn btn-outline-dark align-center">
                                <span class="button-icon"><i class="bi bi-calendar"></i></span>
                                <span class="button-space">|</span>
                                <span class="button-text">Register</span>
                            </button>
                        </a>

                    </div>
                    <div class="col-8">

                        <br>
                        <img src="/images/golf-outings/war-at-the-woods.jpeg" class="w-100" alt="image4" />

                    </div>
                    
                </div>
                

                

            </div>

            <br>

        </Mainlayout>
        
    </body>
</html>
